<div class="banner radius-bottom ">
  <h1 class="text-center" >welcome,</h1>
  <p class="text-center" >tasty & delicious cocktails at home ! </p>
</div>
<div class="wrapper">
  <div class="padding-section-index">
    <h4>cocktails by categories</h4>
      <div class="cocktails-categories">
        <% @categories.each do |category, cocktail| %>
          <div class="cocktail-category">
            <button type="button" data-toggle="modal" data-target="#category<%= category.id %>">
              <h3 class="text-center"><%= category.name %></h3>
              <i class="fas fa-arrow-right"></i>
            </button>
            <div class="modal fade" id="category<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle"><%= category.name %></h3>
                  </div>
                  <div class="modal-body">
                    <% category.cocktails.each do |cocktail| %>
                      <ul class="fa-ul">
                        <p><li><span class="fa-li"><i class="fas fa-arrow-right"></i></span><%= link_to cocktail.name, cocktail_path(cocktail) %></li></p>
                      </ul>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal"> X </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <hr>
  <div class="padding-section-index">
    <h4 >famous cocktails</h4>
    <div class="cocktails-cards">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.user == @user %>
          <div class="cocktail-card relative ">
            <div class="cocktail_card-img" >
              <%= link_to cocktail_path(cocktail) do %>
                <% if cocktail.photo.attached? %>
                  <%= cl_image_tag cocktail.photo.key %>
                <% else %>
                  <%= image_tag 'cocktail-default-image.jpg' %>
                <% end %>
              <% end %>
            </div>
            <div class="cocktail-card-name" >
              <h3 class="text-center" ><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="padding-section-index" >
    <h2 class="text-center" >cocktail of the day</h2>
    <p class="text-center" >lack of ideas for tonight's cocktail? Every day, a new cocktail recipe is offered here</p>
      <% @random_cocktail.each do |cocktail| %>
        <div class="random-cocktail-section" >
          <div class="random-cocktail-photo">
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key %>
            <% else %>
              <%= image_tag 'cocktail-default-image.jpg' %>
            <% end %>
              <div class="random-cocktail-name" >
                <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
              </div>
          </div>
          <div class="random-cocktail-infos" >
            <h3 class="text-center" > <i class="fas fa-cocktail"></i> ingredients</h3>
            <div class="random-cocktail-ingredients" >
              <% cocktail.doses.each do |dose| %>
                <ul>
                  <li class="cocktail-infos-igdts">
                    <div>
                      <span class="bold-text"> <%= dose.amount %> <%= dose.unit %></span>
                    </div>
                    <div class="text-center">
                      <%= dose.ingredient.name %>
                    </div>
                  </li>
                </ul>
              <% end %>
            </div>
            <div class="random_cocktail-arrow" >
              <%= link_to cocktail_path(cocktail) do %>
                view the recipe <i class="fas fa-arrow-right"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
