<div class="banner radius-bottom ">
  <h1 class="text-center" >your cocktails</h1>
  <p class="text-center" >tasty & delicious cocktails at home</p>
</div>
<div class="wrapper">
  <div class="flex-center padding-section-index ">
    <div class="btn">
      <button class="text-center" ><%= link_to 'create your cocktail', new_cocktail_path %></button>
    </div>
  </div>
  <div class="padding-section-index">
    <% if @cocktails.empty? %>
    <div class="no-cocktail flex-center " >
      <%= image_tag "mascotte.svg" %>
      <p class="text-center" >No cocktail created yet! <br>  Let's create your first now! </p>
    </div>
    <% else %>
      <div class="cocktails-cards">
        <% @cocktails.each do |cocktail| %>
          <div class="cocktail-card relative ">
            <div class="cocktail_card-img" >
              <%= link_to cocktail_path(cocktail) do %>
                <% if cocktail.photo.attached? %>
                  <%= cl_image_tag cocktail.photo.key %>
                <% else %>
                  <%= image_tag 'cocktail-default-image.jpg' %>
                <% end %>
              <% end %>
            </div>
            <div class="cocktail-name-trash">
              <div class="cocktail-card-name" >
                <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
              </div>
              <div class="trash-edit" >
                <div>
                  <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt small-icone "></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to edit_cocktail_path(cocktail) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

