<div class="banner">
  <%= image_tag "banner-new-cocktail.svg" %>
</div>
<div class="wrapper">
  <div class="cocktail-card">
    <div class="cocktail-card-title">
      <h1>Create Your Own Cocktail</h1>
    </div>
    <div class="cocktail-card-details">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="btn-back">
    <%= link_to cocktails_path do%>
      <i class="far fa-arrow-alt-circle-left" ></i>
    <% end %>
  </div>
</div>
