<div class="bg-main-color">
  <div class="banner">
    <h2 class="text-center">cocktail recipe</h2>
    <p class="text-center" >tasty & delicious cocktails at home ! </p>
  </div>
  <div class="flex-wrap" >
    <div class="cocktail-infos padding-section" >
      <div>
        <h1 class="text-center"><%= @cocktail.name %></h1>
        <div class="prev-next" >
          <%= link_to "<< Prev", @cocktail.prev %>
          <%= link_to "Next >>", @cocktail.next %>
        </div>
        <p><%= @cocktail.description %></p>
      </div>
      <div>
        <h3>ingredients</h3>
        <% if @cocktail.doses.empty? %>
          <div class="no-cocktail flex-center " >
            <%= image_tag "mascotte.svg" %>
            <p class="text-center" >No ingredient added yet ! <br>  Let's create your first now ! </p>
          </div>
        <% else %>
          <div class="flex-wrap flex-center " >
            <% @cocktail.doses.each do |dose| %>
              <ul>
                <li class="cocktail-infos-igdts">
                  <div>
                    <span class="cocktail-dose"> <%= dose.amount %> <%= dose.unit %></span>
                  </div>
                  <div class="text-center cocktail-igdt-name ">
                    <span><%= dose.ingredient.name %></span>
                  </div>
                  <% if @cocktail.user == @user %>
                    <div class="edit-delete-igdt" >
                      <div>
                        <%= link_to edit_dose_path(dose) do %>
                          <i class="far fa-edit small-icone padding-left "></i>
                        <% end %>
                      </div>
                      <div>
                        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="far fa-trash-alt small-icone"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="flex-wrap-reverse flex-center " >
        <% if @cocktail.user == @user %>
          <div class="center">
            <div class="btn">
              <button class="text-center" ><%= link_to '<-- my cocktails', my_cocktails_cocktails_path %></button>
            </div>
          </div>
        <% else %>
          <div class="center">
            <div class="btn">
              <button class="text-center" ><%= link_to '<-- cocktail list', cocktails_path %></button>
            </div>
          </div>
        <% end %>
        <% if @cocktail.user == @user %>
          <div class="center">
            <% if @cocktail.ingredients.count < 10 %>
              <div class="btn">
                <button class="text-center" ><%= link_to 'add an ingredient', new_cocktail_dose_path(@cocktail) %></button>
              </div>
            <% else %>
              <p class="text-center" > <span class="warning" ><i class="fas fa-exclamation-triangle"></i></span> Maximum number of ingredients reached! You can't add another one </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="prev-next" >
        <%= link_to "<< Prev", @cocktail.prev %>
        <%= link_to "Next >>", @cocktail.next %>
      </div>
    </div>
    <div class="cocktail-img" >
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag 'cocktail-default-image.jpg' %>
      <% end %>
    </div>
  </div>
</div>
