<div class="wrapper">
  <div class="cocktail-card">
    <div class="cocktail-card-title">
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="cocktail-card-details">
      <div class="cocktail-card-details-description">
        <p><%= @cocktail.description %></p>
      </div>
      <div class="cocktail-card-details-ingredients">
        <% @cocktail.doses.each do |dose| %>
          <ul>
            <li><i class="far fa-square"></i> <%= dose.amount %> <%= dose.unit %> <%= dose.ingredient.name %></li>
          </ul>
        <% end %>
      </div>
      <div class="cocktail-card-details-steps">

      </div>
    </div>
  </div>
</div>
