<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active btn-sec ">
        <%= link_to root_path, class: "nav-link" do %>
          <p>famous Cocktails</p>
        <% end %>
      </li>
      <li class="nav-item active cta">
        <%= link_to new_cocktail_path, class: "nav-link" do %>
          <p>create your cocktail</p>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Sign Up",  new_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Sign In",  new_user_session_path, class: "dropdown-item" %>
          <%= link_to "My Cocktails",  my_cocktails_cocktails_path, class: "dropdown-item" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>


