<div class="banner">
   <h3 class="text-center">manage your ingredients</h3>
   <p class="text-center" >tasty & delicious cocktails at home ! </p>
 </div>
<div class="wrapper">
  <div class="cocktail-form">
    <%= simple_form_for (@dose) do |f| %>
      <%= f.association :ingredient, :label => 'Choose an Ingredient', :selected => 1 %>
      <%= f.input :amount %>
      <%= f.input :unit, collection: ['ml','slice','unit'], selected: 'ml' %>
      <hr>
      <%= f.button :submit, 'Add' ,class: "btn" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn" %>
    <% end %>
  </div>
</div>
