<div class="banner">
  <%= image_tag "banner-new-dose.jpg" %>
</div>
<div class="wrapper">
  <div class="cocktail-card">
    <div class="cocktail-card-title">
      <h1 class="text-center">add ingredients</h1>
    </div>
    <div class="cocktail-card-details">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, :label => 'Choose an Ingredient' %>
        <%= f.input :amount %>
        <%= f.input :unit, collection: ['ml','slice','unit'], selected: 'ml' %>
        <hr>
        <%= f.button :submit, 'Create' ,class: "btn-danger" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
  <div class="btn-back">
    <%= link_to cocktail_path(@cocktail) do%>
      <i class="far fa-arrow-alt-circle-left" ></i>
    <% end %>
  </div>
</div>
