<div class="home-banner flex-column flex-center ">
  <div class="wrapper">
    <div class=" home-banner-title padding-section-home" >
      <h1 class="text-center">captain cocktail</h1>
      <p class="text-center"> create your library of your best cocktails or just get inspiration from our famous cocktails recipes!</p>
    </div>
  </div>
  <div class="wrapper">
    <div class=" home-page-img-btn padding-section-home" >
      <div class="home-page-btn padding-section-home " >
        <div class="btn">
          <button class="text-center" ><%= link_to 'get inspiration', cocktails_path %></button>
        </div>
        <div class="sign-in">
          <p class="text-center" >already have account ? <%= link_to "sign in", new_user_session_path %></p>
          <p class="text-center" >then <%= link_to "create a cocktail", new_cocktail_path %> or <%= link_to "manage your cocktails", my_cocktails_cocktails_path %> </p>
        </div>
      </div>
      <div class="home-page-img padding-section-home " >
        <%= image_tag "mascotte.svg" %>
      </div>
    </div>
  </div>
</div>
